<header class="page-header">
    <div id="header">
        <div class="row">
            <div class="two-thirds column">
                <h4>1.2.4 - For the love of Cassette Culture</h4>
            </div>
            <div class="one-third column">
                <h1></h1>
                <p> 
                    <a href="/">Home</a>
                     - 
                    <a href="/articles/artists">Artists</a>
                     - 
                    <a href="/articles/releases">Releases</a>
                </p>
            </div>
        </div>
    </div>
</header>