      <p>
      Of: 
      {% set comma = joiner() %}
      {% for tag in of -%}
        {% if tag !== 'posts' %}
          {{ comma() }} <span class="tag"><a href="/articles/artists/{{ tag | slug}}">{{ tag }}</a></span>
        {% endif %}
      {%- endfor %}
      <br>
      Genre: 
      {% set comma = joiner() %}
      {% for tag in genre -%}
        {% if tag !== 'posts' %}
          {{ comma() }} <span class="tag">{{ tag }}</span>
        {% endif %}
      {%- endfor %}
      <br>
      Years Active: 
      {% set comma = joiner() %}
      {% for tag in yearsActive -%}
        {% if tag !== 'posts' %}
          {{ comma() }} <span class="tag">{{ tag }}</span>
        {% endif %}
      {%- endfor %}









      </p>