<header class="page-header">
    <div id="header">
        <div style="margin-left: 10%; margin-right: 10%;" class="row">
            <div class="two-thirds column">
                <h4>1.2.4 - One True Faith</h4>
            </div>
            <div class="one-third column">
                <h1></h1>
                <p> 
                    <a href="/">Home</a>
                     - 
                    <a href="/about">'bout this site</a>
                </p>
            </div>
        </div>
    </div>
</header>