---
layout: 'base.njk'
permalink: "articles/artists/{{ name |slug }}/"
---


    <main>
      <div style="padding: 5%;" class="row">
        <div id="nuh" class="one-third column">
          <h1>{{ name }}</h1>
          <img style="width: 80%;" src="/assets/pfps/{{ name | slug}}.jpg" alt="{{ thumbAlt }}">
          <!--this bit below loads tag links. very scary shit. don't mess with these again-->
          <br>
          {% include 'releaseArticleTaglinks.njk' %}
          {% include 'tracklist.njk' %}
        </div>
        {% include 'aside.njk' %}
      </div>
    </main>
