

                {% for tag in tags | exclude("artists") | exclude("articles") %}
                {%- set tagColl = collections[tag] | excludeFromCollection(page.url) -%}
                    {%- if tagColl | length %}
                        <h3>Music by {{ name }}</h3>
                        <ul>
                            {%- for post in tagColl -%}
                                <li><a href="{{ post.url }}">{{ post.data.name }}</a></li>
                            {%- endfor -%}
                        </ul>
                    {%- endif %}
                {% endfor %}
