---
layout: 'base.njk'
permalink: "articles/releases/{{ name |slug }}/"
---
    <main>
      <div style="padding: 5%;" class="row">
        <div id="nuh" class="one-third column">
          <div>
          <h1>{{ name }}</h1>
          <img style="width: 80%;" src="/assets/releases/{{ name | slug}}.jpg" alt="{{ thumbAlt }}">
          <!--this bit below loads tag links. very scary shit. don't mess with these again-->
          {% include 'artistArticleTaglinks.njk' %}
          </div>
          <div>
            <p>{{ content | safe }}</p>
          </div>
        </div>

          </p>
        </div>
        

      </div>
      </main>
