      <p style="display: inline;">
        {{year}} {{type}} by
        {% set comma = joiner() %}
        {% for tag in artist -%}
          {% if tag !== 'artist' %}
            {{ comma() }} <span class="tag"><a href="/articles/artists/{{ tag | slug}}">{{ tag }}</a></span>
          {% endif %}
        {%- endfor %}
      </p>
      <br><br>
      <p>
      Genre: 
      {% set comma = joiner() %}
      {% for tag in genre -%}
        {% if tag !== 'posts' %}
          {{ comma() }} <span class="tag">{{ tag }}</span>
        {% endif %}
      {%- endfor %}
      <br>
      Years Active: 
      {% set comma = joiner() %}
      {% for tag in yearsActive -%}
        {% if tag !== 'posts' %}
          {{ comma() }} <span class="tag"><a target="_blank" href="/{{ tag }}">{{ tag }}</a></span>
        {% endif %}
      {%- endfor %}
        </p>








      </p>