      
      <h5 style="inline">Tracks on "{{ name }}"
        <br><sup><sup><sup><mark>{{tracklistnotes}}</mark></sup></sup></sup>
        <sup><br><mark>{{side1}}</mark> {% for tag in tracklistA -%}
        {% if tag !== 'posts' %}
          <br><span class="tag">{{ tag }}</span>
        {% endif %}
      {%- endfor %}
        </sup>
        <sup><br><mark>{{side2}}</mark>
        <sup>{% for tag in tracklistB -%}
        {% if tag !== 'posts' %}
          <br><span class="tag">{{ tag }}</span>
        {% endif %}
      {%- endfor %}
        </sup>
    </h5>
