---
title: 1-2-4
layout: "base.njk"
permalink: "/about/index.html"
---

<div>
  <div style="margin-left: 10%; margin-right: 50%;" id="homedirectory">
  <h3>About this site</h3>
  <p>I like cassettes and cassette culture and archiving things and there
    are so many old cool releases and even new cool releases on tapes but
    a lot of the time there's no information on who even the hell these people 
    are and that's just a hot diggity darn shame you know.
    <br>
  </p>
  </div>
  <div style="margin-left: 40%; margin-right: 10%;" id="homedirectory">
  <br>
  <h3>Frequency Assisted Questions</h3>
  <p>
    <mark>"what the hell does 'one true faith' mean?"</mark>
    <br><br>this was originally a site for my cult but it got boring real fast
    and I like tapes better so here we are
    <br><br>

    </p>  
  </div>

</div>

