---
title: 1-2-4
layout: "base.njk"
permalink: "/about/index.html"
---

<div>
  <div style="margin-left: 10%; margin-right: 50%;" id="homedirectory">
  <h3>About this site</h3>
  <p>I like cassettes and cassette culture and I don't really see any websites
    keeping track of all of them so I made one.
    <br>
  </p>
  </div>
  <div style="margin-left: 40%; margin-right: 10%;" id="homedirectory">
  <br>
  <h3>Frequency Assisted Questions</h3>
  <p>
    <mark>"what the hell does 'one true faith' mean?"</mark>
    <br><br>this was originally a site for my cult but it got boring real fast
    and I like tapes better so here we are
    <br><br>

    </p>  
  </div>

</div>

