---
title: Artists
description: 
type: artists
permalink: "/Articles/Artists/index.html"
layout: "base.njk"
---
<br><br>
    <div class="two columns"><h1></h1></div>
    <div style="text-align: center; background: rgba(177, 97, 97, 0.25);" class="five columns">
      <h3 style="display: inline;">
        Artists
        <sub>[in no parteciler ordir]</sub>
      </h3>
      <ul><h5>
      {% for post in collections.artists %}
        {% include 'ArtistDirectoryListing.njk' %}
      {% endfor %}
      </h5>
      </ul>
    </div>
    <div class="two columns"><h1></h1></div>
