---
title: 1-2-4
layout: "base.njk"
permalink: "/index.html"
tags:
  - releases
  - artists
---
<div id="center" class="row">
  <h1>One True Faith</h1>
  </div>  
<div id="middlebit" class="row">
  <div class="one-third column"><h1></h1></div>
  <div class="one-third column">
    <p><mark>One True Faith</mark> is a passion project to document cool or obscure indie tape 
    releases. It's 1/3 fan-site, 1/3 rarity archive, and 1/3 history book. <br><br> kiiinda. 
    <br><br>If <mark>you</mark> know of a dope indie tape release, have a <a href="./mostwanted/">wanted track</a>, or know cool info I've missed, 
    dm me on twitter! <a target="_blank" href="https://x.com/Jack_Clark_Ross">[@Jack_Clark_Ross]</a>
    </p>
  </div>
  <div class="one-third column"><h1></h1></div>
</div>

<div style="margin-left: 10%; margin-right: 10%;" class="row">

    <div style="background: rgba(97, 118, 177, 0.25);" class="one-half column">
      <h3>the <a href="/articles/releases/">Artists</a> page</h3>
      <h5>recent additions:</h5>
      <ul><h5>
      {% for post in collections.artists | head(-6) %}
        <ul><a href="articles/artists/{{ post.data.name | slug }}/">{{ post.data.name }}</a><br><sup>{{ post.data.description }}</sup></ul>
      {% endfor %}
      </h5>
      </ul>
    </div>

    <div style="background: rgba(177, 133, 97, 0.25);" class="one-half column">
      <h3>the <a href="/articles/releases/">Releases</a> page</h3>
      <h5>recent additions:</h5>
      <ul><h5>
      {% for post in collections.releases | head(-6) %}
        <ul><a href="articles/releases/{{ post.data.name | slug }}/">{{ post.data.name }}</a>  - {{ post.data.year }}<br><sup>{{ post.data.description }}</sup></ul>
      {% endfor %}
      </h5>
      </ul>
    </div>
  </div>

