---
title: 1-2-4
layout: "base.njk"
permalink: "/index.html"
---

<div id="center" class="row">
    <h4>What is Cassette Culture?</h4>
    <p>uhhh I ain't got that far yet</p>
  </div>

<div style="margin-left: 10%; margin-right: 10%;" class="row">

    <div class="one-half column">
      <h3>Artists</h3>
      <ul><h5>
      {% for post in collections.artists %}
        <li><a href="articles/artists/{{ post.data.name | slug }}/">{{ post.data.name }}</a></li>
      {% endfor %}
      </h5>
      </ul>
    </div>

    <div class="one-half column">
      <h3>Releases</h3>
      <ul><h5>
      {% for post in collections.releases %}
        <li><a href="articles/artists/{{ post.data.name | slug }}/">{{ post.data.name }}</a></li>
      {% endfor %}
      </h5>
      </ul>
    </div>
  </div>

