---
title: 1-2-4
layout: "base.njk"
permalink: "/index.html"
---
<div id="center" class="row">
  <h1><br></h1>
  </div>  
<div id="middlebit" class="row" style="margin-left: 30%; margin-right: 30%;">
    <p><mark>One True Faith</mark> is a passion project to collect info about cool or obscure indie tape 
    releases. There is no strict criteia, Just got to be tape and dope.
    <br><br>If <mark>you</mark> know of a dope indie tape release and want it added, 
    dm me on twitter <a href="https://x.com/Jack_Clark_Ross">[@Jack_Clark_Ross]</a>
    </p>
  </div>

<div style="margin-left: 10%; margin-right: 10%;" class="row">

    <div style="background: rgba(97, 118, 177, 0.25);" class="one-half column">
      <h3>Artists</h3>
      <ul><h5>
      {% for post in collections.artists %}
        <li><a href="articles/artists/{{ post.data.name | slug }}/">{{ post.data.name }}</a></li>
      {% endfor %}
      </h5>
      </ul>
    </div>
    <div style="background: rgba(177, 133, 97, 0.25);" class="one-half column">
      <h3>Releases</h3>
      <ul><h5>
      {% for post in collections.releases %}
        <li><a href="articles/artists/{{ post.data.name | slug }}/">{{ post.data.name }}</a></li>
      {% endfor %}
      </h5>
      </ul>
    </div>
  </div>

